{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row col s12 intro">
  <h3 class="page-header">{% trans "Sign In" %}</h3>
  <h6>Sign in to book tickets and view your bookings</h6>
</div>

<div class="container">
  <p>{% blocktrans %}Don't have an account? Please sign up
    <a href="{{ signup_url }}">here</a> first.{% endblocktrans %}</p>
  <div class="row">
    <div class="col s12 m6 card-panel signup-form">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="col s12 center-align">
        <button class="btn waves-effect red darken-1 btn-medium hoverable signup-btn" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
