{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row col s12 intro">
  <h3 class="page-header">{% trans "Sign Up" %}</h3>
  <h6>Fill in the form to register an account and book tickets</h6>
</div>

<div class="container">
  <div class="row">
    <div class="col m3"></div>
    <div class="col s12 m6">
      <p class="center-align">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log
          in</a>.{% endblocktrans %}</p>
      <div class="card signup-card">
        <form class="signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          <div class="row">
            <div class="col s12 center-align">
              <button class="btn waves-effect red darken-3 btn-medium hoverable form-btn"
                type="submit">{% trans "Register" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col m3"></div>
  </div>
</div>

{% endblock %}