{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row col s12 intro">
        <h2 class="page-header">Registration</h2>
        <h6>Fill in the form to register an account and book tickets</h6>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <form class="col s12" method="POST" action="">
                <div class="card-panel red lighten-4">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <div class="center-align">
                        <button class="btn waves-effect red darken-1 btn-medium hoverable register-btn" type="submit"
                            name="register">Register account
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}