{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row col s12 intro">
        <h2 class="page-header">Registration</h2>
        <h6>Fill in the form to register an account and book tickets</h6>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel red lighten-4">
                <form class="col s12" method="POST" action="films.html">
                    {% csrf_token %}
                     {{ form.as_table }}
                </form>
                <div class="center-align">
                    <button class="btn waves-effect red darken-1 btn-medium hoverable register-btn" type="submit"
                        name="action">Register account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}