@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

body {
    background-color: #380202;
    font-family: Pioret-One, Trebuchet MS, sans-serif;
    color: #ffcc80;
}

.container {
    width: 90%;
}

/* Navbar */
nav {
    background-color: rgba(56, 2, 2, 0.978);
}

.brand-logo {
    font-family: Limelight, Trebuchet MS, sans-serif;
    text-transform: uppercase;
    font-size: x-large;
}

nav .brand-logo {
    color: #ffcc80;
    margin-left: 1%;
}

.fa-bars {
    color: #ffcc80;
}

.brand-logo:hover {
    color: #540505ec;
}

.brand-logo i {
    font-size: xx-large;
    line-height: 56px;
}

/* Code on line 17-28, to center align navbar list, is taken from this Stackoverflow page:
 https://stackoverflow.com/questions/38964113/how-can-i-create-a-navbar-with-center-aligned-links-using-materialize 
.navlist-center ul {
    text-align: center;
}

.navlist-center ul li {
    display: inline;
    float: none;
}

.navlist-center ul li a {
    display: inline-block;
}*/

nav li a {
    letter-spacing: 2px;
    padding: 0 14px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

.sidenav li a {
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a:hover {
    background-color: #540505ec;
}

/* Footer */
.page-footer {
    background-color:#120101ac;
     /*rgb(68, 2, 2);*/
    
    letter-spacing: 1px;
}

footer p {
    margin: 0;
}

footer h6 {
    font-weight: bold;
    text-transform: uppercase;
}

footer i {
    font-size: x-large;
    padding: 0 20px;
}

footer a {
    color: #ffcc80;
}

.footer-div {
    margin-top: 10px;
    margin-bottom: 30px;
}

footer a:hover {
    color: #540505ec;
}

/* Intro content on pages */
.intro {
    margin-bottom: 50px;
    padding-left: 1.4rem;
}

.hero-header {
    font-family: Limelight, Trebuchet MS, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.hero-subheader {
    text-align: center;
    letter-spacing: 1px;
}

.page-header {
    text-transform: uppercase;
}



/* Film cards */
.card.small .card-image {
    max-height: 70%;
}

.card.small .card-image+.card-content {
    max-height: 30%;
}

.card .card-content {
    padding: 15px;
}

.truncate {
    white-space: nowrap;
}

.waves-block {
    display: inline-block;
}

.card .card-title {
    font-size: 20px;
    text-transform: uppercase;
}

.card-reveal p {
    font-size: medium;
}

#trailer {
    font-weight: bold;
    text-decoration: underline;
    color: #2e01d2;
}

/* Registration form */

label {
    color: #212121;
}

form li {
    list-style-type: none;
}

input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #212121;
}

input[type=email]:not(.browser-default) {
    border-bottom: 1px solid #212121;
}

input[type=number]:not(.browser-default) {
    border-bottom: 1px solid #212121;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid #212121;
}

form .row {
    margin-bottom: 0;
}

.register-btn {
    margin: 20px;
}

.registration-form {
    padding-left: 0;
}

labe::after {
    content: none;
}