@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

body {
    background-color: #380202;
    font-family: Pioret-One, Trebuchet MS, sans-serif;
    color: #ffcc80;
}

.container {
    width: 90%;
}

/* Navbar */
.my-navbar {
    background-color: rgba(56, 2, 2, 0.978);
}

.brand-logo a {
    font-family: Limelight, Trebuchet MS, sans-serif;
    color: #ffcc80;
}

.brand-logo a:hover {
    color: #540505ec;
}

/* Code on line 17-28, to center align navbar list, is taken from this Stackoverflow page:
 https://stackoverflow.com/questions/38964113/how-can-i-create-a-navbar-with-center-aligned-links-using-materialize */
.navlist-center ul {
    text-align: center;
}

.navlist-center ul li {
    display: inline;
    float: none;
}

.navlist-center ul li a {
    display: inline-block;
}

nav li a {
    letter-spacing: 2px;
    padding: 0 20px;
    font-size: small;
    font-weight: bold;
}

nav li a:hover {
    background-color: #540505ec;
}

.brand-logo a i {
    font-size: larger;
}

/* Footer */
.page-footer {
    background-color: rgba(56, 2, 2, 0.978);
    letter-spacing: 1px;
}

footer p {
    margin: 0;
}

footer h6 {
    font-weight: bold;
}

footer i {
    font-size: x-large;
    padding: 0 20px;
}

footer a {
    color: #ffcc80;
}

.footer-div {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer a:hover {
    color: #540505ec;
}

/* Main content on each page */
.page-header {
    font-family: Limelight, Trebuchet MS, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.page-subheader {
    text-align: center;
    letter-spacing: 1px;
}
