{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">Book tickets</h3>
    <h6>Choose your tickets</h6>
</div>

<div class="container">
    <div class="card-panel grey-text text-darken-4 booking-card yellow lighten-4">
        {% if user.is_authenticated == False %}
        <div class="row">
            <p id="remember-info">*Remember - to be able to book tickets, you need to <a
                    href="{% url 'account_signup' %}">register an account</a> and <a
                    href="{% url 'account_login' %}">log in</a>.</p>
        </div>
        {% endif %}
        <div class="row">
            <p><i class="fa-regular fa-calendar-days"></i> Choose a date:</p>
            <form method="get">
                
                {{ myfilter.form }}
                
            </form>

        </div>
    </div>

    <!--
<div class="container">
    <div class="card-panel grey-text text-darken-4 booking-card">
        {% if user.is_authenticated == False %}
        <div class="row">
            <p id="remember-info">*Remember - to be able to book tickets, you need to <a
                    href="{% url 'account_signup' %}">register an account</a> and <a href="{% url 'account_login' %}">log in</a>.</p>
        </div>
        {% endif %}
        <div class="row">
            <p><i class="fa-regular fa-calendar-days"></i> Choose a date:</p>
            <input type="text" class="datepicker" id="datepicker">
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="col s6 m2">
                        <img src="images/sample-1.jpg">
                    </div>
                    <div class="col s6 m5" class="white-text">I am a very simple card. I am good at containing small
                        bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is
                        called a panel in other frameworks.
                    </div>
                    <div class="col s12 m3">
                        <p>Choose number of tickets:</p>
                    </div>
                    <div class="col s12 m2">
                        <a href=""><button type="submit"
                                class="btn waves-effect red darken-1 btn-medium hoverable form-btn">Continue</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

    {% endblock %}