{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">Book tickets</h3>
    <h6>Choose your tickets</h6>
</div>

<div class="container">
    <div class="card-panel grey-text text-darken-4 booking-card yellow lighten-4">
        {% if user.is_authenticated == False %}
        <div class="row">
            <p id="remember-info">*Remember - to be able to book tickets, you need to <a
                    href="{% url 'account_signup' %}">register an account</a> and <a
                    href="{% url 'account_login' %}">log in</a>.</p>
        </div>
        {% endif %}
        <div class="row">
            <p><i class="fa-regular fa-calendar-days booking-form-icon"></i> Choose a date:</p>
            <div class="col s6 m3 l2">
                <form method="get">
                    <table id="booking-filter-form">
                        {{ myfilter.form }}
                    </table>
                </form>
            </div>
            <div class="col s6 m3 l2">
                <button type="submit"
                    class="btn waves-effect red darken-1 btn-medium hoverable search-btn">Search</button>
            </div>
        </div>
        <div class="row">
            <ul class="collapsible">
                {% for showtime in showtimes %}
                <li>
                    <div class="collapsible-header z-depth-4">
                        <img class="responsive-img hide-on-small-only" src="{{ showtime.filmimage.url }}"
                            alt="Film image">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h5>{{ showtime.filmtitle }}</h5>
                                    <p>{{ showtime.showtimedate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body yellow lighten-5">
                        <form method="POST" action="{% url 'book_film' showtime.pk %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col s12 l3 form-div">
                                    <h6><i class="fa-solid fa-clock booking-form-icon"></i>Showtime:</h6>
                                    <div class="input-field">
                                        {{ showtime.showtime }}
                                    </div>
                                </div>
                                <div class="col s12 l4 form-div">
                                    <h6 class="choice-header"><i class="fa-solid fa-ticket booking-form-icon"></i>Choose
                                        number of tickets:</h6>
                                    <div class="input-field col s7">
                                        {{ booking_form.numoftickets }}
                                        <p>15 of {{ showtime.totnumofseats }} tickets left</p>
                                    </div>
                                    <span class="price-per-seat"> £{{ showtime.priceperseat }}/ ticket</span>
                                </div>


                                <div class="col s12 l4">
                                    <h6 class="choice-header"><i
                                            class="fa-solid fa-glass-water booking-form-icon"></i><i
                                            class="fa-solid fa-bowl-rice booking-form-icon"></i>Some snacks? (opt)
                                    </h6>
                                    <div class="input-field">
                                        {{ booking_form.snacks }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 right-align">
                                    {% if user.is_authenticated %}
                                    <button type="submit"
                                        class="btn waves-effect green darken-4 btn-medium hoverable booking-btn">Book
                                        tickets<i class="fa-solid fa-check submit-icon"></i></button>
                                    {% endif %}
                                </div>
                            </div>


                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}