{% extends "base.html" %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">Cancel booking</h3>
</div>

<div class="col l12">
    <form method="POST" action="{% url 'cancel' booking.pk %}">
        {% csrf_token %}
        <table class="yellow lighten-3 grey-text text-darken-4 striped responsive-table">
            <thead>
                <tr>
                    <th>(Date) Film</th>
                    <th>Time</th>
                    <th>Tickets (qty)</th>
                    <th>Snacks</th>
                    <th>Total cost</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.time }}</td>
                    <td>{{ booking.numoftickets }}</td>
                    <td>{{ booking.snacks }}</td>
                    <td>{{ booking.cost }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col s12 center-align cancel-div">
                <p>You are about to cancel this booking. Are you sure?</p>
                <button type="submit" class="btn waves-effect deep-orange accent-3 btn-medium hoverable cancel-btn">Yes,
                    cancel
                    booking</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}