{% extends "base.html" %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">Edit booking</h3>
</div>

<div class="col l12">
    <p>You are about to cancel this booking. Are you sure?</p>
    <table class="yellow lighten-3 grey-text text-darken-4 striped responsive-table">
        <thead>
            <tr>
                <th>Film Date</th>
                <th>Film</th>
                <th>Time</th>
                <th>Tickets (qty)</th>
                <th>Snacks</th>
                <th>Total cost (£)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.filmtitle }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.numoftickets }}</td>
                <td>{{ booking.snacks }}</td>
                <td>{{ booking.cost }}</td>
                <td><button type="submit"
                        class="btn waves-effect light-blue darken-4 btn-medium hoverable edit-btn">Yes, cancel
                        booking</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}