{% extends "base.html" %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">Edit booking</h3>
</div>

<div class="col l12">
    <p>You can change the number of tickets and the snacks. If you want to see another film - cancel this booking and
        make a new booking.</p>
    <form method="POST" action="{% url 'edit' booking.pk %}">
        {% csrf_token %}
        <table class="yellow lighten-3 grey-text text-darken-4 striped responsive-table edit-form">
            <thead>
                <tr>
                    <th>(Date) Film</th>
                    <th>Time</th>
                    <th>Tickets (qty)<p id="tickets-left">15 of {{ film_showtime.totnumofseats }} tickets left</p>
                    </th>
                    <th>Snacks</th>
                    <th>Total cost</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="not-editable">{{ booking.date }}</td>
                    <td class="not-editable">{{ booking.time }}</td>
                    <td>
                        <div class="row">
                            <div class="col s4">
                                <div class="edit-tickets">{{ booking_form.numoftickets.label_tag }}{{ booking_form.numoftickets }}</div>
                            </div>
                            <div class="col s6">
                                <p id="seat-price">£{{ seat_price }}/ ticket</p>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="edit-tickets">{{ booking_form.snacks.label_tag }}{{ booking_form.snacks }}</div>
                    </td>
                    <td class="not-editable">£{{ booking.cost }}</td>
                    <td><button type="submit"
                            class="btn waves-effect light-blue darken-4 btn-medium hoverable edit-btn">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{% endblock %}