{% extends "base.html" %}

{% block content %}

<div class="row col s12 intro">
    <h3 class="page-header">My Bookings</h3>
    <h6>Here you can handle all your bookings</h6>
</div>

<div class="col l12">
    <table class="yellow lighten-3 grey-text text-darken-4 striped responsive-table">
        <thead>
            <tr>
                <th>Film Date</th>
                <th>Film</th>
                <th>Time</th>
                <th>Tickets (qty)</th>
                <th>Snacks</th>
                <th>Total cost (£)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.filmtitle }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.numoftickets }}</td>
                <td>{{ booking.snacks }}</td>
                <td>{{ booking.cost }}</td>
                <td><a href="{% url 'edit' booking.pk%}"><button type="submit"
                            class="btn waves-effect light-blue darken-4 btn-medium hoverable edit-btn">Edit</button></a></td>
                <td><a href="/candel/{{'booking.id'}}"><button type="submit"
                            class="btn waves-effect deep-orange accent-3 btn-medium hoverable cancel-btn">Cancel</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}